html{
    margin: none;
    padding: none;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#form-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

#inner-form{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#inner-form h2{
    text-align:start;
    margin-bottom: 20px;
    color: #333;
}


#name-field, #email-field, #password-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#name-field label, #email-field label, #password-field label{
    margin-left: 10px;
    margin-bottom: 5px;
    color: #333;
}

#name-field input, #email-field input, #password-field input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#name-field input:focus, #email-field input:focus, #password-field input:focus{
    outline: none;
    border-color: #333;
}

#name-field input::placeholder, #email-field input::placeholder, #password-field input::placeholder{
    color: #c4c4c4;
}

#inner-form p a{
    text-decoration: none;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}